.main {
  background-color: #F9F7F7;
  border: 1px solid #DBE2EF;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-shadow:
    0 1px 2px rgb(63, 114, 175, 0.07),
    0 4px 10px rgb(63, 114, 175, 0.05);
}

.header {
  display: flex;
  margin-bottom: 1rem;
  align-items: flex-end;
}

.headerMinimal {
  margin-bottom: 0;
}

.mainMinimal {
  box-shadow: none;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
