.button {
  align-items: center;
  background-color: #F9F7F7;
  border: none;
  border-radius: 0.5rem;
  color: #64748b;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  transition: background-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.2s ease,
    color 0.2s ease;
}

.button:hover {
  background-color: #c7d2fe;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  color: #2563eb;
  transform: translateY(-1px);


  background-color: #3F72AF;
  color: #F9F7F7;
}

.button:active {
  background-color: #112D4E;
  color: #F9F7F7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  transform: translateY(0px);
}

.icon {
  border-radius: 0.4rem;
  padding: 0.4rem;
}

.add,
.action {
  align-items: center;
  background-color: rgb(63, 114, 175, 0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  color: #F9F7F7;
  font-size: 0.85rem;
  font-weight: 600;
  display: inline-flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.6rem 1rem;
}

.action {
  max-width: 90px;
  height: 52px;
}

@media (min-width: 1024px) {
  .action {
    min-width: 150px;
  }
}
