.header {
  align-items: center;
  background: white;
  color: #111827;
  display: flex;
  font-size: 0.875rem;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  transition: all 0.2s ease;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
