.article {
  background-color: #fafafa;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.header {
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
