@font-face {
  font-family: "EB Garamond";
  src: url("/font/EBGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/font/EBGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
}

.builder {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8fafc;
  padding: 1rem;
  gap: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.preview {
  display: none;
  font-family: "EB Garamond", serif;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

@media (min-width: 1024px) {
  .builder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "inputs preview"
      "inputs actions";
    column-gap: 1.5rem;
    row-gap: 1rem;
    align-items: start;
  }

  .inputs {
    grid-area: inputs;
    height: calc(100vh - 2rem);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #78909c #eaeaea;
    padding: 0.5rem;
  }

  .preview {
    height: calc(100vh - 7rem);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #78909c #eaeaea;
    grid-area: preview;
    display: flex;
    flex-direction: column;
    width: 210mm;
    background: white;
    margin: 0 auto;
    padding: 20mm;
    padding: 64px;
    font-size: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    border: 1px solid #ddd;
    gap: 16px;
  }

  .actions {
    grid-area: actions;
    gap: 1rem;
  }
}
