@font-face {
  font-family: "EB Garamond";
  src: url("/font/EBGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/font/EBGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
}

.builder {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #DBE2EF;
  padding: 1rem;
  gap: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-x: hidden;
}

.preview {
  display: none;
  font-family: "EB Garamond", serif;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.pdfOverlay {
  position: fixed;
  background-color: #282828;
  inset: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.pdfOverlay button {
  align-self: center;
  margin: 1rem;
}

.pdfOverlay :global(iframe) {
  flex: 1;
}

@media (min-width: 1024px) {
  .builder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "inputs preview"
      "inputs actions";
  }

  .inputs {
    grid-area: inputs;
    height: calc(100vh - 2rem);
    margin: 0 3rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #DBE2EF;
  }

  .preview {
    height: calc(100vh - 7rem);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #DBE2EF;
    grid-area: preview;
    display: flex;
    flex-direction: column;
    width: 210mm;
    background: white;
    margin: 0 auto;
    padding: 20mm;
    padding: 64px;
    font-size: 15px;
    box-shadow:
      0 1px 2px rgb(63, 114, 175, 0.5),
      0 4px 10px rgb(63, 114, 175, 0.5);
    border: 1px solid #ddd;
    gap: 16px;
  }

  .actions {
    grid-area: actions;
    gap: 1rem;
  }
}
