.section {
  margin-bottom: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  font-size: 27px;
  font-weight: 700;
}

.job {
  font-size: 15px;
  font-weight: 700;
}

.contact {
  font-size: 13px;
}
