.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.8rem;

  grid-template-areas:
    "job job"
    "first last"
    "email email"
    "phone phone"
    "linkedin linkedin"
    "github github"
    "portfolio portfolio"
    "city postal"
    "country country";
}

.jobTarget {
  grid-area: job;
}

.firstName {
  grid-area: first;
}

.lastName {
  grid-area: last;
}

.email {
  grid-area: email;
}

.phone {
  grid-area: phone;
}

.linkedin {
  grid-area: linkedin;
}

.github {
  grid-area: github;
}

.portfolio {
  grid-area: portfolio;
}

.cityState {
  grid-area: city;
}

.postalCode {
  grid-area: postal;
}

.country {
  grid-area: country;
}
