.builder {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8fafc;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.preview {
  display: none;
}
